<header class="site-header">

  <div id="header">
    <nav style="background-color: #1565C0; width: 200px; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); transition: width 1s ease-in-out;"">
      <ul style="list-style: none; padding: 0;">
        <li class="fork" style="margin-bottom: 15px;">
          <a href="{{site.baseurl}}/" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            Home
          </a>
        </li>
        <li class="fork" style="margin-bottom: 15px;">
          <a href="{{site.baseurl}}/blogs" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            Blogs
          </a>
        </li>
        <li class="fork" style="margin-bottom: 15px;">
          <a href="https://github.com/Vynz123" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            My Github
          </a>
        </li>
        <!--
        <li class="fork" style="margin-bottom: 15px;">
          <a href="{{site.baseurl}}/csa" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            CSA
          </a>
        </li>
        <li class="fork" style="margin-bottom: 15px;">
          <a href="{{site.baseurl}}/blogs" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            Blogs
          </a>
        </li>
        <li class="title">
          <a href="{{ site.github.repository_url }}#readme" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            View On GitHub
          </a>
        </li>
        -->
      </ul>
    </nav>
    
    
  </div><!-- end header -->
</header>